table {
    border: 1px #a39485 solid;
    font-size: 0.9em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

th {
    text-align: left;
}

thead {
    font-weight: bold;
    color: #fff;
    background: var(--color-primary);
}
thead th {
    text-align: center;
}
td,
th {
    padding: 1em 0.5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}

.blind {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*** header ***/
.header {
    background-color: #fff;
    border: 2px solid var(--color-black);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo sns" "nav nav";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 9999;
}
.header-logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem 0;
    font-weight: 800;
    color: var(--color-sub);
    font-size: 24px;
    align-items: center;
}
.header-go {
    grid-area: sns;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.header-go:hover {
    background-color: var(--color-sub);
    color: #fff;
}
.header-nav {
    grid-area: nav;
    border-top: 2px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav-list {
    margin: 0;
    padding: 0 0.7rem;
    display: flex;
    gap: 1.2rem;
    overflow-y: auto;
}
.header-nav-list .link {
    position: relative;
    padding: 0.6rem 0;
    display: block;
}
.header-nav-list .link.active {
    text-decoration: underline;
    text-decoration-line: 2px;
    color: var(--color-sub);
}

/*** main ***/
.main {
    flex-grow: 1;
    border: 2px solid var(--color-black);
    display: flex;
    flex-direction: column;
    margin-top: 108px;
    background-color: #fff;
    flex-grow: 1;
    width: 100%;
}
.main-intro {
    border-bottom: 1px solid var(--color-primary);
    padding: 30px 0 62px 0;
}
/*** main-aside ***/
.aside {
    padding: 40px 30px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.aside-img {
    text-align: center;
}
.aside-img .img {
    display: flex;
    width: 100%;
    aspect-ratio: 4/3;
    background-color: rgb(232, 230, 228);
    border-radius: 80px 40px;
    box-shadow: 8px -8px 0px rgba(209, 213, 159, 1);
    margin: 0 auto;
    overflow: hidden;
    align-items: flex-end;
    justify-content: center;
}
.aside-txt {
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
    gap: 4px;
    overflow-y: auto;
}
.aside-txt ul {
    overflow-y: auto;
}
.aside-txt ul::-webkit-scrollbar {
    width: 5px;
}
.aside-txt ul::-webkit-scrollbar-thumb {
    background: rgba(209, 213, 159, 1); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.aside-txt ul::-webkit-scrollbar-track {
    background: rgb(244, 245, 236); /*스크롤바 뒷 배경 색상*/
}
.aside-txt .name {
    font-weight: 800;
    font-size: 20px;
}
.aside-txt .name-en {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}
.aside-txt .info {
    width: fit-content;
    border-left: 1px solid rgba(46, 48, 75, 0.3);
    padding-left: 8px;
}
.aside-txt .info:hover {
    border-left: 1px solid rgba(46, 48, 75, 1);
}
.aside-bt {
    display: flex;
    gap: 10px;
}
.aside-bt .btn-icon {
    width: 24px;
    height: 24px;
}
/*** main-content ***/
.content {
    flex: 1 1 0;
}

.post-article-txt h3 {
    margin: 30px 0 10px;
}
.post-article-txt h4 {
    margin: 25px 0 5px;
}

/*** footer ***/
.footer {
    background-color: #fff;
    border-bottom: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "sns" "copy";
    min-height: 110px;
    width: 100%;
}
.footer-sns {
    grid-area: sns;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.footer-sns:hover {
    background-color: var(--color-sub);
    color: #fff;
}
.footer-copy {
    grid-area: copy;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
}
.gatsby-resp-image-link {
    margin: 5px 0;
    text-align: center;
}
/*** mediaQuery ***/
@media (min-width: 768px) {
    .header {
        max-width: 768px;
        grid-template-columns: 180px 1fr 200px;
        grid-template-areas: "logo nav sns";
        height: 65px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .header-logo {
        text-align: left;
        padding: 0 0 0 10px;
        width: 200px;
        align-items: flex-start;
        font-size: 30px;
    }
    .header-nav {
        border-top: 0;
    }
    .main {
        margin: 0 auto;
        max-width: 768px;
        margin-top: 63px;
    }
    .aside {
        width: 250px;
        box-sizing: border-box;
        padding: 40px 25px 5px 15px;
        position: fixed;
        top: 65px;
        bottom: 67px;
    }
    .content {
        margin-left: 250px;
        border-left: 2px solid var(--color-black);
        padding: 40px;
    }
    .footer {
        grid-template-columns: 1fr 200px;
        grid-template-areas: "copy sns";
        min-height: 65px;
        background-color: #fff;
        max-width: 768px;
        margin: 0 auto;
    }
    .footer-copy {
        border-top: 0;
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .header {
        max-width: 1200px;
    }
    .main {
        max-width: 1200px;
    }
    .footer {
        max-width: 1200px;
    }
}
@media (min-width: 1536px) {
    .header {
        max-width: 1536px;
    }
    .main {
        max-width: 1536px;
    }
    .footer {
        max-width: 1536px;
    }
}
