/*** post 공통 ***/
.tag {
    padding: 5px 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #c773d4;
}
.tag + .tag {
    margin-left: 10px;
}

/*** post 타이틀 ***/
.post-tit {
    font-size: 24px;
    color: var(--color-sub);
}
/*** post 리스트형 ***/

.post-list-box {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    gap: 10px;
    font-size: 16px;
    letter-spacing: -0.5px;
}
.post-list-box + .post-list-box {
    border-top: 1px solid #e6e6e6;
}
.post-list-box .tit {
    display: block;
    font-weight: 600;
    font-size: 24px;
}
.post-list-box .date {
    color: var(--color-primary);
    opacity: 0.5;
}
.post-list-box .desc {
    color: var(--color-text);
}

/*** post 본문 ***/
.post-article {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}
.post-article-tit {
    font-size: 2.5rem;
    margin-bottom: 32px;
    letter-spacing: -2px;
}
.post-article-info {
    margin-bottom: 40px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #e6e6e6;
}

/*** post 아코디언형 ***/
.post-accodian {
}
.post-accodian-wrap {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-bottom: 1px solid #e6e6e6;
}
post-accodian-wrap:first-child {
    padding: 30px 0 0 0;
}
.post-accodian-tap {
    padding: 20px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.post-accodian-tap .tit {
    display: block;
    font-weight: 600;
    font-size: 24px;
}
.post-accodian-wrap .tit-icon {
    height: 36px;
}
.post-accodian-wrap .tit-icon.close {
    display: inline-block;
}
.post-accodian-wrap.on .tit-icon.close {
    display: none;
}
.post-accodian-wrap .tit-icon.open {
    display: none;
}
.post-accodian-wrap.on .tit-icon.open {
    display: inline-block;
}
.post-accodian-tap:hover .tit {
    color: var(--color-sub);
}
.post-accodian-tap .btn-icon {
    margin-left: auto;
    margin-top: 5px;
    width: 28px;
    height: 17px;
}
.post-accodian-wrap .post-accodian-content {
    height: 0;
    opacity: 0;
}
.post-accodian-wrap.on .post-accodian-content {
    height: auto;
    animation: fadeIn 0.2s ease-in-out forwards;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(197 213 159 / 18%);
}
.post-accodian-wrap.on .btn-icon {
    transform: rotate(180deg);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}
.post-accodian-content .link:hover {
    color: var(--color-primary);
    font-weight: 600;
}
